4 |l tonga  |f STOP THE MURDER OF RUSSIANS BIDEN HARRIS OBAMA Democrats UKRAINE UKRAINEWAR THEVIEW CNN CBS MSNBC ABC israel zionist UnitedNations congress whitehouse dod trump interpol Russia cnn foxnews blm GunControlNOW IT IS WHITE SPREMACIST FIGHTING EACH OTHER https ;// co 6eB9pIgq82  |g english
7 |n Fear Loathing America  |s machistanomas  |d kind activist that sends chill down collective spine republican party when wake morning give them heartburn gray hair  |f Russians watch videos from Bucha https ;// co 7vRoq3VUBM via YouTube UnderstandingRussians RussiansRespond Russia Putin UkraineWar Society Politics Ukraine Bucha  |g english
1 |l Lost the Minnesota North Woods  |n Stone standing with  |s knittingknots  |d Goals Stand justice liberty truth reality aware implicit bias Block asshattery Remember physics wins Take time write  |f Putin has ignited new anti colonial struggle This time Moscow is the target Nick Cohen The Guardian https ;// co 1BRFgJUWh9 Ukraine UkraineRussiaWar UkraineUnderAtta UkraineWar  |g english
1 |l Lost the Minnesota North Woods  |n Stone standing with  |s knittingknots  |d Goals Stand justice liberty truth reality aware implicit bias Block asshattery Remember physics wins Take time write  |f Zelensky Russia fired most of its missiles at Ukraine must be recognized as state sponsor of terrorism https ;// co y4y4nd5HU9 Ukraine UkraineRussiaWar UkraineUnderAtta UkraineWar RussianWarCrimesInUkraine  |g english
3 |l Dug somewhere Hampshire  |n Jon Noble 🦾🟩 - 🇺🇦 Stand with Ukraine 🇺🇦  |f visegrad24 He ticks lot of the boxes Putin UkraineRussianWar SlavaUkraini https ;// co d428aG6kGp  |g english
2 |l Brasil  |n Military InfoBR  |s militaryinfobr  |d Tweets sobre o conflito atual 🇷🇺 X 🇺🇦 Informa çõ es militares de todo o mundo  |f Poder impressionante lan amento do ssil tico Iskander do ex rcito russo contra posi çõ es das For as Armadas da Ucr nia 🇷🇺🇺🇦 Ukraine UkraineRussianWar Ucrania Russia Russian RussianUkrainianWar https ;// co wlNBreN7mF  |g portuguese
1 |l meta  |f Ukraine Flag Rubber Wristband Stand with Ukraine and SLAVA UKRAINE Bracelet to Show Support to National Ukrainiane https ;// co rUp01Vy1sP via amazon Ukraine VolodymyrZelenskyy UkraineRussianWar RussiaUkraine NFTs NFT FoundITOnAmazon StandWithUkraine  |g english
17 |n Siber Vatan  |s derdimiz vatan  |d Askeri teknolojiler savunma sanayi asker sava nyas ndan teknoloji bilim harmanlanm ncel konular  |f ➡️ Ya ad üş le üş ledik ya ⬇️ Putin Ukraine Ukrania UkraineRussianWar UkraineRussia UkraineWar Russia RussiaUkraineWar Ukrainian SonDakika SONDAKIKA RussiaUkraine Zelensky Putin Azov Chechen Chinese USA Mariupol Pakistan BTC TheBatman Mariupol https ;// co K4f0NpsU4A  |g turkish
20 |l Utah USA  |n Rich  |s rich rich  |d Resist vote blue believe science Vaccinated Boosted Moderna Healthcare sensible control Happily married father papa  |f UkraineWar More Russian planes being shot down Even the Russian air force isn what everyone actually thought they were https ;// co fugmcJsSeT  |g english
20 |p au  |l Perth  |f https ;// co AsMHkFS1da when will Europe get off it ass and help or they going to sit back and watch Ukraine be wiped out along with it people UkraineWar StandWithUkraine StopRussia  |g english
1 |l New York USA  |n Mike Kevrekidis  |s Makis Kevrekidi  |d 🇺🇸 Aviation - Aerospace - Turbojet Engines // BA in Communications - Ramapo College of New Jersey - @ PAOK _ FC @ TrabzonSpor - Φιλελεύθερος  |f It more than obvious that Putin does not understand how the world works His actions have the opposite of the intended effect he is making NATO larger and stronger Russia NATO Ukraine UkraineRussianWar https ;// co vCBK7GVDMw  |g english
4 |l tonga  |f STOP THE MURDER OF RUSSIANS BIDEN HARRIS OBAMA Democrats UKRAINE UKRAINEWAR THEVIEW CNN CBS MSNBC ABC israel zionist UnitedNations congress whitehouse dod trump interpol Russia cnn foxnews blm GunControlNOW UKRAINE IS COMMITTING WAR CRIME PROUD OF IT https ;// co zQ7c4hSk7T  |g english
1 |l Playa Del Karma  |n Lety Tejada  |s LetysNakedTruth  |d 3 . 5 Years Celibate 🏆 Intelligent Investor 🤑 Retired to the beach 🌊 because 🇺🇸 IS AN EVIL EMPIRE OF LIES 💁🏾‍♀️  |f igeusllc AFP US dropped bombs on Japan they are now Friends amp ;& amp the kept spinning if you live in NATO county move to one that doesn have deep seeded hatred toward Russia as did because saw this coming in 2019 UkraineRussianWar https ;// co XgDPCWJZdZ  |g english
1 |l United States  |f Urgentt Mariupol #Маріу́поль WarCrimes UkraineRussianWar Russia USA Kadyrov Watch Ukrainian forces ambushed Russian soldiers at close range Watch video from Sponsored by Angie channel 👇/ https ;// co QyaEOaoexg https ;// co koI0pBwdmM  |g english
18 |p ng  |l Lagos  |f 🏃🏃🏃🏃🏃🏃 Ukraine UkraineRussianWar nigeriansinuk erigganewmoney TundeEddnut KraksTV yabaleftonline instablog9ja https ;// co u3ZEvOxFzk
4 |l tonga  |f JoeBiden BLM BlackLivesMatter BIDEN HARRIS OBAMA Democrats UKRAINE UKRAINEWAR THEVIEW CNN CBS MSNBC ABC RolandMartinUnfiltered ROLAND BlackStars israel zionist UnitedNations congress whitehouse dod trump interpol korea northkorea southkorea Russia https ;// co X1jh5FK2Fp
1 |l Lakewood  |n Unity doesn come without accountability Ukraine  |s secondtryagain  |d proud liberal IVoted4BidenHarris2020 VoteBlue DeleteFacebook ETTD Fullyvaxxed  |f JuliaDavisNews Russia is trying to speed run the entire International War Crimes criminal code like it is checklist RussianWarCrimesInUkraine RussianWarCrimes UkraineWar  |g english
4 |l tonga  |f JoeBiden BLM BlackLivesMatter BIDEN HARRIS OBAMA Democrats UKRAINE UKRAINEWAR THEVIEW CNN CBS MSNBC ABC RolandMartinUnfiltered ROLAND BlackStars israel zionist UnitedNations congress whitehouse dod trump interpol korea northkorea southkorea Russia cnn foxnews https ;// co NDNGX4m0D7
20 |l Pakistan  |n CoCo Yousafzai  |s coco yousafzai  |f UkraineRussianWar Ukraine RussiaUkraine AlAqsa Palestine Europe https ;// co wsj5bksOiG
1 |l New York  |n   |s OAleinik  |d American Attorney 🇺🇸 Made in Ukraine 🇺🇦 lived in Belarus and briefly in South Korea . Interests include politics and history , classical and techno music .  |f Важные текущие события войны/ 204 https ;// co mWsxmcSExU via YouTube ZelenskyyUa пожалуйста решите проблему барыгами иначе вам никакой landlease не поможет! Podolyak arestovych UkraineRussianWar  |g russian
3 |n Valery 🇺🇦  |f This woman and her newborn baby are among those killed yesterday by 🇷🇺 missiles in civil house in Odesa In the meantime 🇷🇺 trolls comment that 🇺🇦 are Nazis amp this war is liberation of 🇷🇺 speakers from Nazis 🇷🇺 trolls go ck urself Ukraine UkraineWar RussiaUkraineWar https ;// co IDXlgL4LIr  |g english
3 |n Ukraine Battle  |s ukraine  |f North Kharkiv Map April 24 00 AM See Full detailed map of each battle front on the https ;// co 0vnXdXthyb UkraineWar Ukriane Kharkiv https ;// co 5HcsTzhq9v  |g english
1 |l Lost the Minnesota North Woods  |n Stone standing with  |s knittingknots  |d Goals Stand justice liberty truth reality aware implicit bias Block asshattery Remember physics wins Take time write  |f Over 600 people evacuated from Kherson region on April 23 https ;// co P7WsqWCwEe Ukraine UkraineRussiaWar UkraineUnderAtta UkraineWar  |g english
2 |n EliasMC  |s EliasMezaCota  |d 🇷🇺 Russian , 🇺🇦 Ukrainian and 🇺🇳 worldwide reports and compilations about the war in Ukraine .  |f 🇺🇦 Maxim easel machine gun model 1940 UkraineWar RussianUkrainianWar UkraineRussianWar Russia Ukraine Kyiv mauripol Odessa Nikolaev Ukrainian Azovstal Azov Russian https ;// co S3ONf8m7Wb  |g english
3 |l Kyiv Ukraine  |n 🇺🇦 Ukraine / War News 24  |f ⚡️ Odesa 03 48 ). Red Alert aerial threat Sirens sounding UkraineRussianWar  |g english
20 |l Kuala Lumpur Malaysia  |f Looming Threats in the Global Economy https ;// co SjYvXRvTLh 00 Exactly The US gov has no right to sacrifice Ukrainians for the fall of Putin Biden must stop his offensive rhetoric amp start peace talks each day of delay more lives are lost Ukraine UkraineWar  |g english
1 |p us  |l Atlanta  |f Zelensky decries Russian attack during Easter holiday for Ukraine Christians Ukraine EasterSunday Christians Russia UkraineRussianWar https ;// co LNLN1Y4n53  |g english
5 |l Tampa  |n Deewaker Pandey 🇮🇳  |f हमारे न्यूज चैनल लगता है पुतिन से जबरदस्ती एटम बम का बटन दबवा के ही दम लेंगे। RussiaUkraine Ukraine UkraineRussianWar  |g hindi
5 |l mumbai  |f RM After the execution of the column the wounded Azov soldiers threw grenades at them In their networks they passed off this crime as military operation ... Creatures and burn them in hellfire UkraineWar RussianUkrainianWar UkraineRussianWar Ukraine Azovstal Russian  |g english
4 |l tonga  |f JoeBiden STOP THE MURDER OF RUSSIANS HARRIS OBAMA Democrats UKRAINE UKRAINEWAR THEVIEW CNN CBS MSNBC ABC israel zionist UnitedNations congress whitehouse dod trump interpol Russia cnn foxnews blm GunControlNOW BIDEN WHY ARE SUPPORTING WHITE SUPREMACIST STOP IT https ;// co du2v1OKnCT  |g english
2 |l Brasil  |n Military InfoBR  |s militaryinfobr  |d Tweets sobre o conflito atual 🇷🇺 X 🇺🇦 Informa çõ es militares de todo o mundo  |f deo do uso de um sistema UR 77 russo contra posi çõ es das For as Armadas Ucranianas 🇷🇺🇺🇦 Ucrania Ukraine Russia Russian UkraineRussianWar RussianUkrainianWar https ;// co qKxmeKHQCi  |g portuguese
2 |l Brasil  |n Military InfoBR  |s militaryinfobr  |d Tweets sobre o conflito atual 🇷🇺 X 🇺🇦 Informa çõ es militares de todo o mundo  |f Helic pteros russos escoltam avan de uma coluna de seu Ex rcito no leste da Ucr nia 🇷🇺🇺🇦 Ukraine Russia Russian Ucrania UkraineRussianWar RussianUkrainianWar https ;// co dg8mzEuIsj  |g portuguese
2 |l   |n 🇷🇺 mimi  |f 良心のあるメディア関係者が暴露しています。 https ;// co Akav6I6nOx Ukraine 真相 https ;// co KzHNlcylfS Kyiv ←ｾﾝｿｳも起きてない https ;// co lKCHC8iqk1 Putin https ;// co XuaSU4UD6W BuchaGenocide 真実 #フェイクニュース #プロパガンダ #ウクライナ捏造祭 UkraineWar https ;// co K2vkh8XQ4K https ;// co Ps3vMNMV97  |g japanese
1 |l Atlantic City New  |f omarhus93940581 They get away with it because they label the people in Donbass terrorists the same as they do the Palestinians Its ok to bomb civilians aslong as you claim they are evil terrorists first DonbassGenocide Palestine UkraineRussianWar isreal  |g english
2 |n EliasMC  |s EliasMezaCota  |d 🇷🇺 Russian , 🇺🇦 Ukrainian and 🇺🇳 worldwide reports and compilations about the war in Ukraine .  |f RM In Buryat school instead of Russian language lesson they showed this video So many questions and so few answers UkraineWar RussianUkrainianWar UkraineRussianWar Russia Ukraine Kyiv mauripol Odessa Nikolaev Ukrainian Azovstal Azov Russian Bucha Kharkiv https ;// co QPImlE3Sj5  |g english
2 |n Daniel Smith  |s DanielS18352008  |d International Relations Politics Security Keeping Russian disinformation propaganda machine  |f visegrad24 Russia Putin and the RussianArmy 🇷🇺 brutally kill Valeria young Ukrainian mother and her three month old baby girl Kira in rocket attack on their apartment in Odessa Ukraine 🇺🇦 👩👼💔 UkraineRussianWar StopRussia RussianWarCrimes GenocideOfUkrainians https ;// co 67RjsSGm87  |g english
1 |l Atlantic City New  |f Censored Reports From Donbass Make Clear Ukraine Started The War https ;// co yQHipEORf0 https ;// co Oid82Z6EWZ via PopResistance UkraineRussianWar RussiaUkraineConflict RussiaUkraine DonbassGenocide  |g english
4 |l tonga  |f JRI4364 JoeBiden BLM BlackLivesMatter BIDEN HARRIS OBAMA Democrats UKRAINE UKRAINEWAR THEVIEW CNN CBS MSNBC ABC RolandMartinUnfiltered ROLAND BlackStars israel zionist UnitedNations congress whitehouse dod trump interpol korea northkorea southkorea Russia cnn foxnews https ;// co DD4hqxgVqk
6 |l Buenos Aires Argentina  |f StopRussianAggression StopRussianWar RussianWarCrimes UkraineRussianWar StopWar PutinWarCrimes StopPutinNOW RussiaInUkraine StopPutin Ukraine StandWithUkraine PrayForUkraine HelpUkraine SaveUkraine ArmUkraineNow GloryToUkraine 🇺🇦 https ;// co c2ygrf9wiq
1 |l Riverdale Park  |f Great tutorial by zerohedge via OilandEnergy on EuropeanUnion -# Russia energy trade amp likely impact of various cutoff phaseout scenarios https ;// co LC6NIjZOV4 Ukraine UkraineWar sanctions fossilfuels oil coal natgas oilprice  |g english
11 |n Alfred Alin  |s alfred alin  |f UkraineWar sudiaarbia is turning aginst west and its allies like UAE and agent leader of Egypt sisi and stands with Putin closed Libya oil fields to show some supporting Don think it sudden its hidden plan sudden attacks like pearlharber during WW2 https ;// co 7vcqUh4uRO  |g english
10 |l Dominican Republic  |f clar Zelensky lors une conf rence de presse UkraineRussianWar  |g french
10 |l Dominican Republic  |f 🇺🇦 FLASH Le pr sident VolodymyrZelensky donne une conf rence de presse sur le quai une station de tro dans le centre de Kiev UkraineWar tki https ;// co mU2I4XkHIG  |g french
2 |n EliasMC  |s EliasMezaCota  |d 🇷🇺 Russian , 🇺🇦 Ukrainian and 🇺🇳 worldwide reports and compilations about the war in Ukraine .  |f Russian marines are fighting in the ruins of Mariupol UkraineWar RussianUkrainianWar UkraineRussianWar Russia Ukraine Kyiv mauripol Odessa Nikolaev Ukrainian Azovstal Azov Russian Bucha Kharkiv https ;// co BOLzb0exIF  |g english
1 |l Lost the Minnesota North Woods  |n Stone standing with  |s knittingknots  |d Goals Stand justice liberty truth reality aware implicit bias Block asshattery Remember physics wins Take time write  |f Ukrainian air defense units destroy 17 air targets over past day https ;// co RcPGb16Fpy Ukraine UkraineRussiaWar UkraineUnderAtta UkraineWar  |g english
1 |l Doha Qatar  |n Qatar Pulse Nation  |s qatarday  |d Qatar leading lifestyle news information gateway Curating creating interesting content providing followers nothing best  |f Videos appear to show dead civilians in Ukrainian city of Mariupol Ukraine Russia UkraineWar UkraineCrisis Mariupol QatarDayNews QatarDay https ;// co Nu7MlQxP42  |g english
6 |n Daniel Alonso 🇦🇷 ✌️🤝🇷🇺 Z 🤜 🇬🇧 🇺🇦 🤛  |f Azov Azovstal Mariupol AzovBattalion Azovstahl Azovsteel AZOVNAZIS MariupolNow MariupolWeSeeYou MariupolMatters mariupolattack Ukraine UkraineRussianWar Ukraine https ;// co b2viEPvd2P
4 |l tonga  |f STOP THE MURDER OF RUSSIANS BIDEN HARRIS OBAMA Democrats UKRAINE UKRAINEWAR THEVIEW CNN CBS MSNBC ABC israel zionist UnitedNations congress whitehouse dod trump interpol Russia cnn foxnews blm GunControlNOW guncontrol https ;// co tcZGWYpOOL  |g english
12 |l Хай живе Україна  |n 🇺🇦🐱🖤🕊️ VAXXED 🏳️‍🌈🖤🐱🇺🇦  |s rogue corq  |d corq part time snark account cyber linux agitprop counterintel cats stonks #Україна Opinions cats retweeted  |f Curious Number Of Russian Oligarchs Have Died Since Invasion Of Ukraine https ;// co zorcq9LDcd via YouTube UkraineRussianWar  |g english
20 |p gh  |l Accra Ghana  |f moralex gh we stand with Ukraine letlovelead Ukraine StandWithUkraine StandUpForUkraine UkraineUnderAttack UkraineRussianWar RussianUkrainianWar Guyguy25887152 3NewsGH CitiTVGH moralex gh FRANCE24 https ;// co ZFxcFXZZan  |g english
14 |l Suisse  |n 🇨🇭 TheSwissAPE 🦍  |f Voil part argent du contribuable US et europ en en fum !! Des milliards aides et tout fini par br ler UkraineRussianWar UkraineRussie FYI idrissaberkane et AniceLajnef je tag car vous tweetez bcp sur Ukraine ). https ;// co OdXXnWSX4X  |g french
6 |n Daniel Alonso 🇦🇷 ✌️🤝🇷🇺 Z 🤜 🇬🇧 🇺🇦 🤛  |f Azov Azovstal Mariupol AzovBattalion Azovstahl Azovsteel AZOVNAZIS MariupolNow MariupolWeSeeYou MariupolMatters mariupolattack Ukraine UkraineRussianWar Ukraine https ;// co WOQN6yOlhP
